.container {
  width: 350px;
}

.header {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #264343;
}

.infoGridTop {
  display: flex;
  column-gap: 10px;
  margin: 15px auto;
}

.gmaplink {
  color: #264343;
}

.infoGridBot {
  display: grid;
  grid-template-columns: 20px 50px 10px 20px 210px;
  column-gap: 10px;
}

.openingHours {
  max-height: 80px;
  overflow: scroll;
}

.description {
  /* display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5; */
  margin: 15px auto;
  overflow: scroll;
  /* text-overflow: ellipsis; */
  max-height: 100px;
}

.tagset {
  display: flex;
  column-gap: 5px;
}

.primaryTags {
  display: flex;
  column-gap: 20px;
}

.ratingHeader {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #264343;
}
