.cafetag {
  display: inline-block;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #264343;
  border: 2px solid #264343;
  border-radius: 30px;
  padding: 4px 9px;
}

.cafetag:hover {
  opacity: 50%;
}
