.fliptable {
  margin: 0;
  left: 0;
  font-family: "RocaOne-Rg";
  color: #264343;
  font-size: 35px;
  letter-spacing: -2.5px;
  text-align: center;
  justify-content: center;
  width: 100%;
}
.pointsTracker {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 25px;

  position: absolute;
  width: 430px;
  height: 98px;
  left: 0px;
  top: 120px;
}

.pointsBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 5px;

  width: 130px;
  height: 98px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.points {
  width: 130px;
  height: 20px;

  /* FlipTable Text Styles/14 sp • Secondary Button Bold */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;

  /* ◇ Light/FlipTable Colours/Tretiary Color */

  color: #839788;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.pointsDisplay {
  width: 49px;
  height: 29px;

  /* FlipTable Text Styles/20 sp • H6 Headline */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.15px;

  /* ◇ Light/FlipTable Colours/Primary Color */

  color: #264343;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.equalBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 22px 0px 10px;
  gap: 10px;

  width: 18px;
  height: 98px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.equal {
  width: 18px;
  height: 66px;

  /* 24 sp • H5 Headline */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;

  /* ◇ Light/FlipTable Colours/Tretiary Color */

  color: #839788;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 1;
}
.cashBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 5px;

  width: 130px;
  height: 98px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}
.cash {
  width: 130px;
  height: 20px;

  /* FlipTable Text Styles/14 sp • Secondary Button Bold */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;

  /* ◇ Light/FlipTable Colours/Tretiary Color */

  color: #839788;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.cashDisplay {
  width: 130px;
  height: 29px;

  /* FlipTable Text Styles/20 sp • H6 Headline */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.15px;

  /* ◇ Light/FlipTable Colours/Primary Color */

  color: #264343;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.homePageScroll {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  isolation: isolate;

  position: absolute;
  height: 612px;
  left: 0px;
  right: 0px;
  top: 200px;
  overflow-y: scroll;
}

.referralComponentSpace {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 30px;
  gap: 8px;

  width: 430px;
  height: 174px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  z-index: 2;
}

.referralHeaderSpace {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px 10px;

  width: 370px;
  height: 40px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.referralHeaderTextSpace {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 10px;
  gap: 10px;

  width: 325px;
  height: 40px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
}
.referralHeaderText {
  width: 305px;
  height: 40px;

  /* 20 sp • H6 Headline */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.15px;

  /* ◇ Light/FlipTable Colours/Primary Color */

  color: #264343;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
}
.referralGiftSpace {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;

  width: 25px;
  height: 40px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.referralGiftIcon {
  width: 25px;
  height: 25px;

  /* ◇ Light/FlipTable Colours/Primary Color */

  background: #264343;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.referralBodySpace {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 10px;
  gap: 15px;

  width: 370px;
  height: 126px;

  /* ◇ Light/FlipTable Colours/Primary Color */

  background: #264343;
  border-radius: 10px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.referralBodyDescriptionSpace {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 5px;

  width: 350px;
  height: 41px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.referralBodyDescription {
  width: 340px;
  height: 41px;

  /* 16 sp • Body */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;

  /* ◇ Light/FlipTable Colours/Light */

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.referralButtonSpace {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;

  width: 120px;
  height: 40px;

  /* ◇ Light/FlipTable Colours/Secondary Color */

  background: #e88252;
  /* 2dp | Button */

  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.12),
    0px 1px 8px rgba(0, 0, 0, 0.1);
  border-radius: 6px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.referralButton {
  width: 96px;
  height: 30px;

  /* FlipTable Text Styles/20 sp • Primary Button */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;

  /* ◇ Light/FlipTable Colours/Light */

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
