.container {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 52px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.phone_time {
  font-size: 14px;
  font-weight: 500;
  width: 20%;
}

.camera_hole {
  width: 20%;
}

.phone_icons {
  width: 20%;
}
