.pointsTrackerAdjustment {
  background-color: #ededed;
}

.nearMeTitle {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 430px;
  height: 30px;
  padding: 25px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  letter-spacing: 0.15px;
  color: #264343;
  flex: none;
  order: 0;
  flex-grow: 0;
  background-color: #ededed;
}

.scrollable {
  /* position: absolute;
  height: calc(100vh -200);
  overflow: scroll; */
  position: absolute;
  top: 290px; /* Adjust the top value to leave space for the header */
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
}

.emptyDiv {
  width: 430px;
  height: 25px;
  background-color: #ededed;
  border-radius: 25px 25px 0px 0px;
  position: relative;
}
.profileContainer {
  padding: 20px;
}
.profilePicSpace {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 430px;
  height: 120px;
  left: calc(50% - 430px / 2);
  top: 135px;
}

.profilePic {
  width: 96px;
  height: 96px;
  border-radius: 48px 48px 48px 48px;

  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.16))
    drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.12))
    drop-shadow(0px 1px 8px rgba(0, 0, 0, 0.1));

  flex: none;
  order: 0;
  flex-grow: 0;
}

.username {
  width: 168px;
  height: 24px;
  padding: 2px 2px;
  margin-top: 8px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.15px;

  color: #264343;

  flex: none;
  order: 1;
  flex-grow: 0;
}
