@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

@font-face {
  font-family: roca_one;
  src: url(roca-one-regular.ttf);
}

* {
  box-sizing: border-box;
}

html {
  /* font-family: "Oxygen", sans-serif; */
  font-family: roca_one;
}

body {
  margin: 0;
  background-color: whitesmoke;
  /* Dimension as per UI/UX prototype */
  width: 430px;
  height: 932px;
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
